.header-container {
	width:100%;
	height:900px;
	border-left:none;
	border-right: none;
	position: relative;
	padding:20px;
}

.title-psychicGame {
	font-weight: 500px;
	font-family: 'Lemonada', cursive;
}

.subtitle {
	font-weight: 75px;
	font-family: 'Lemonada', cursive;
	font-size: 18px;
}

.scorecolor {
	color: #330080;
}

.premade {
	color: #006400;
	font-weight: 100px;
	font-family: 'Lemonada', cursive;
}
